{% load static %}
{% static "avatar.gif" as avatar %}



<nav class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="{% url 'main' %}"
      >Forum</a
    >
  </div>
  {% if user.is_authenticated%}
  <div class="flex-none gap-2">
    <form method="GET" action="{% url 'search' %}" class="form-control">
      <input type="text" placeholder="Search" name="query" class="input input-bordered" />
    </form>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="{{user.profile.avatar|default:avatar}}" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="justify-between" href="{% url 'user' user.username %}">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a href="{% url 'user' user.username %}">Settings</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
  {% else %}
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 gap-1">
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Register</a></li>
    </ul>
  </div>
  {% endif %}
</nav>