<div class="btn-group">
  {% if object_list.number > 1 %}
  <div class="tooltip" data-tip="First page">
    <a class="btn btn-ghost rounded-r-none" href="?page=1">«</a>
  </div>
  <!-- <div class="tooltip" data-tip="Previous page">
  <a   class="btn" href="?page={{ page|add:'-1' }}">PREV</a>
</div> -->
  {% endif %} 
  <!--  -->
  {% for page in paginator.page_range %}
  <a
    href="?page={{page}}"
    class="btn btn-ghost {% if object_list.number == page %} btn-active {% endif %}"
  >
    {{page}}
  </a>
  {% endfor %} {% if object_list.number < paginator.num_pages %}
  <!-- <div class="tooltip" data-tip="Next page">
  <a   class="btn" href="?page={{ page_info.page|add:'1' }}">NEXT</a>
</div> -->
  <div class="tooltip" data-tip="Last page">
    <a class="btn btn-ghost rounded-l-none" href="?page={{paginator.num_pages}}"
      >»</a
    >
  </div>
  {% endif %}
</div>
