{% extends 'base.html' %}
<!--  -->
{% block title %} {{topic.name}} {% endblock %}
<!--  -->
{% block main %} {% include 'navbar.html' %}
<!--  -->
{% load static %} {% static 'avatar.gif' as avatar %}
<!--  -->
{% load humanize %}

<main class="bg-base-200">
  <div class="container mx-auto md:px-24">
    <div class="bg-base-100/30 grid p-8 gap-4">
      <div class="text-sm breadcrumbs">
        <ul>
          {% for topic in topic.path %}
          <li>
            <a
              href="{{ topic.get_absolute_url }}"
              >{{topic.name}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>

      <!--  -->
      {% if topic.subtopic_set.count %}
      <div class="card bg-base-100">
        <div class="card-body">
          <div class="card-title !text-2xl">Subtopics</div>
          <ul class="divide-y gap-2 grid divide-base-content/20">
            {% for subtopic in topic.subtopic_set.all %}

            <li>{% include 'subtopic.html' %}</li>
            {% endfor%}
          </ul>
        </div>
      </div>

      {% endif %}

      <div class="card bg-base-100">
        <div class="card-body">
          {% if threads|length > 0 %}
          <ul>
            {% for thread in threads %}
            <li class="grid grid-cols-[1fr_100px]">
              <div>
                <h4 class="">
                  <a
                    class="link link-hover text-xl"
                    href="{{ thread.get_absolute_url }}"
                    >{{thread.title}}</a
                  >
                </h4>
                <div class="text-sm">
                  By
                  <a
                    class="link link-hover"
                    href="{url 'user' thread.author.username}"
                    >{{thread.author.username}}</a
                  >,
                  <time datetime="{{created_at|date:'c'}}"
                    >{{thread.created_at|naturaltime}}</time
                  >
                </div>
                <div class="text-xs">
                  {{thread.post_set.count}}
                  repl{{thread.post_set.count|pluralize:'y,ies'}}
                </div>
              </div>
              {% with post=thread.post_set.last %} {% if post %}
              <div class="flex flex-col items-center gap-2">
                <!-- -->

                {% load static %} {% static "avatar.gif" as avatar %}
                <div class="avatar">
                  <div class="w-12 rounded-full">
                    <a
                      href="{{post.get_absolute_url}}"
                      class="contents"
                    >
                      <img
                        src="{{post.author.profile.avatar|default:avatar}}"
                      />
                    </a>
                  </div>
                </div>
                <div class="text-xs">
                  <time datetime="{{created_at|date:'c'}}"
                    >{{post.created_at|naturaltime}}</time
                  >
                </div>
              </div>
              {%endif %} {%endwith%}
            </li>
            {% endfor%}
          </ul>
          {% else %} No threads {% endif %}
        </div>
      </div>

      <div class="card card-compact bg-base-100">
        <div class="card-body">
          {% if user.is_authenticated %}

          <form class="" action="#new" id="new" method="POST">
            {% csrf_token %} {{form.as_div}}

            <div class="form-control mt-6">
              <button class="btn btn-primary" type="submit">
                Create Thread
              </button>
            </div>
          </form>
          {% else %}

          <div class="text-center grid prose max-w-none">
            <div class="">
              <h2>Create an account or sign in to comment</h2>
              <p>You need to be a member in order to leave a comment</p>
            </div>
            <div class="flex justify-evenly">
              <div class="">
                <h2>Create an account</h2>
                <p>Sign up for a new account in our community. It's easy!</p>
                <a href="{%url 'signup' %}" class="btn btn-wide"
                  >Register a new account</a
                >
              </div>
              <div class="">
                <h2>Sign in</h2>
                <p>Already have an account? Sign in here.</p>
                <a href="{%url 'login' %}" class="btn btn-wide">Sign in Now</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
