{% extends 'base.html' %}
<!--  -->
{% block title %} Forum {% endblock %}
<!--  -->
{% block main %} {% include 'navbar.html' %}
<!--  -->
{% load humanize %}
<main class="bg-base-200">
  <div class="container mx-auto md:px-24">
    <div class="bg-base-100/30 flex flex-col min-h-[calc(100vh-66px)] p-8 gap-4">
      {% regroup object_list by topic as subtopics_list %}
      <!--  -->
      {% for topic, subtopics in subtopics_list %}
      <div class="card bg-base-100">
        <div class="card-body">
          <div class="card-title !text-2xl">
            {{topic.name}} {% if topic.new %}
            <div class="badge badge-secondary">NEW</div>
            {% endif %}
          </div>
          <ul class="divide-y gap-2 grid divide-base-content/20">
            {% for subtopic in subtopics %}
            <li>
              <div class="grid grid-cols-[auto_minmax(0,1fr)_auto] pt-2 gap-4 md:gap-8 items-start">
                {% include 'subtopic.html' %}
                <!--  -->
                {% include 'subtopic_recent_post.html' %}
                <!--  -->
                {% include 'subtopic_post_count.html' %}
              </div>
            </li>
            {% endfor%}
          </ul>
        </div>
      </div>
      {% endfor %}
     
    </div>
  </div>
</main>
{% endblock %}
