{% extends 'base.html' %}
<!--  -->
{% block title %} Settings {% endblock %}
<!--  -->
{% load md%}
<!--  -->
{% block html %}
<input type="checkbox" id="confirm-removal" class="modal-toggle" />
<label for="confirm-removal" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <h3 class="font-bold text-lg">Do you want to remove your account!</h3>
    <p class="py-4">You will permanently lose access to your account.</p>
    <form class="modal-action" method="post" action="{%url 'user-remove'%}">
      {% csrf_token %}
      <label for="confirm-removal" class="btn">No</label>
      <label for="confirm-removal" class="btn btn-primary">
        <button type="submit">Yes</button>
      </label>
    </form>
  </label>
</label>

{% endblock %}
<!--  -->
{% block main %} {% include 'navbar.html' %}
<!--  -->
{% load humanize %} {% load static %} {% static 'avatar.gif' as avatar %}
<main class="bg-base-200">
  <div class="container mx-auto md:px-24">
    <div
      class="bg-base-100/30 flex flex-col min-h-[calc(100vh-66px)] p-8 gap-4"
    >
      <div class="card bg-base-200">
        <div class="card-body relative items-center">
          <div
            class="tooltip"
            data-tip="Joined {{object.date_joined|naturaltime}}"
          >
            <div class="avatar">
              <div class="w-24 rounded-full shadow-2xl">
                <img src="{{user.avatar|default:avatar}}" />
              </div>
            </div>
          </div>
          <div>
            <h1 class="text-5xl font-bold">{{user.username}}</h1>
          </div>
          <div>
            Last active
            <time datetime="{{user.post_set.latest.created_at|date:'c'}}">
              {{user.post_set.latest.created_at|naturaltime}}
            </time>
          </div>
        </div>
      </div>

      <div class="card bg-base-200">
        <div class="card-body relative items-center">
          <form method="POST">
            {% csrf_token %} {{form.as_div}}

            <div class="form-control mt-6">
              <button class="btn btn-primary" type="submit">
                Update profile
              </button>
            </div>


            <div class="form-control mt-24">
              <label for="confirm-removal" class="btn btn-error"
              >Remove account</label>
            </div>
          </form>

        

       
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
