{% extends 'base.html' %}
<!--  -->
{% block title %} Settings {% endblock %}
<!--  -->
{% load md%}
<!--  -->
{% block main %} {% include 'navbar.html' %}
<!--  -->
{% load humanize %} {% load static %} {% static 'avatar.gif' as avatar %}
<main class="bg-base-200">
  <div class="container mx-auto md:px-24">
    <div class="bg-base-100/30 grid p-8 gap-4">
      <div class="card bg-base-200">
        <div class="card-body relative items-center">
          <div class="avatar">
            <div class="w-24 rounded-full shadow-2xl">
              <img src="{{user.avatar|default:avatar}}" />
            </div>
          </div>
          <div>
            <h1 class="text-5xl font-bold">{{user.username}}</h1>
          </div>
        </div>
      </div>

      <div class="card bg-base-200">
        <div class="card-body relative items-center">
          <form method="POST">
            {% csrf_token %}
            {{form.as_div}} 

            <div class="form-control mt-6">
              <button class="btn btn-primary" type="submit">Update profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
