{% extends 'base.html' %}
<!--  -->
{% block title %} {{thread.title}} {% endblock %}
<!--  -->
{% block main %}
<!--  -->
{% include 'navbar.html' %}
<!--  -->
{% load static %}
<!--  -->
{% static "avatar.gif" as avatar %}

<main class="bg-base-200">
  <div class="container mx-auto md:px-24">
    <div class="bg-base-100/30 grid p-8 gap-4">
      <div class="text-sm breadcrumbs mx-8">
        <ul>
          {% for topic in thread.subtopic.path %}
          <li>
            <a
              href="{{ topic.get_absolute_url }}"
              >{{topic.name}}</a
            >
          </li>
          {% endfor %}

          <li>{{thread.title}}</li>
        </ul>
      </div>

      {% if paginator.num_pages > 1 %}

          <div class="justify-center flex">

            {% include 'pagination.html' %}
          </div>

      {% endif %} 

      <section class="card bg-base-100">
        <div class="card-body">
          <div class="card-title">
            <h1>{{thread.title}}</h1>
          </div>

          <div class="flex gap-2">
            <div class="avatar">
              <div class="w-12 rounded-full">
                <img src="{{thread.author.avatar|default:avatar}}" />
              </div>
            </div>
            <div>
              <div>
                <strong>By {{ thread.author.username }}</strong>
              </div>
              {% load humanize %}
              <time datetime="{{thread.created_at|date:'c'}}"
                >{{thread.created_at|naturaltime}}</time
              >
              in
              <a
                href="/{{thread.subtopic.topic.slug}}/{{thread.subtopic.slug}}/"
                >{{thread.subtopic.name}}</a
              >
            </div>
          </div>
        </div>
      </section>
      {% for post in object_list %}

      <div class="card bg-base-100" id="post-{{post.pk}}">
        <div class="card-body">
          {% include 'post.html' with post=post %}
        </div>
      </div>
      {% endfor %} 
      
      
      {% if paginator.num_pages > 1 %}


          <div class="justify-center flex">
            {% include 'pagination.html' %}
          </div>

      {% endif %} {% if form.content.value %}
      <div id="preview" class="card bg-neutral text-neutral-content">
        <div class="card-body">
          {% include 'post.html' with post=preview %}
        </div>
      </div>
      {% endif %}

 


      <div class="card card-compact bg-base-100">
        <div class="card-body">
          {% if user.is_authenticated %}

          <form
            action="#leave-a-comment"
            id="leave-a-comment"
            method="POST"
          >
            {% csrf_token %} {{form.as_div}}

            <div>
              <div class="flex gap-4 justify-end">
                <button type="submit" formmethod="GET" class="btn btn-ghost">
                  preview
                </button>
                <button type="submit" class="btn btn-wide btn-primary">
                  submit
                </button>
              </div>
            </div>
          </form>
          {% else %}

          <div class="text-center grid prose max-w-none">
            <div class="">
              <h2>Create an account or sign in to comment</h2>
              <p>You need to be a member in order to leave a comment</p>
            </div>
            <div class="flex justify-evenly">
              <div class="">
                <h2>Create an account</h2>
                <p>Sign up for a new account in our community. It's easy!</p>
                <a href="{%url 'register' %}" class="btn btn-wide"
                  >Register a new account</a
                >
              </div>
              <div class="">
                <h2>Sign in</h2>
                <p>Already have an account? Sign in here.</p>
                <a href="{%url 'login' %}" class="btn btn-wide">Sign in Now</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
