{% extends 'base.html' %}
<!--  -->
{% block title %} {{object.title}} {% endblock %}
<!--  -->
{% block main %}
<!--  -->
{% include 'navbar.html' %}
<!--  -->
{% load static %}
<!--  -->
{% static "avatar.gif" as avatar %}

<main class="bg-base-200">
  <div class="container mx-auto md:px-24">
    <div
      class="bg-base-100/30 flex flex-col min-h-[calc(100vh-66px)] p-8 gap-4"
    >
      <div class="text-sm breadcrumbs mx-8">
        <ul>
          {% for topic in object.subtopic.path %}
          <li>
            <a href="{{ topic.get_absolute_url }}">{{topic.name}}</a>
          </li>
          {% endfor %}

          <li>{{object.title}}</li>
        </ul>
      </div>

      {% if paginator.num_pages > 1 %}

      <div class="justify-center flex">{% include 'pagination.html' %}</div>

      {% endif %}

      <section class="card bg-base-100">
        <div class="card-body">
          <div class="card-title">
            <h1>{{object.title}}</h1>
          </div>

          <div class="flex gap-2">
            <div class="avatar">
              <div class="w-12 rounded-full">
                <a href="{{object.author.get_absolute_url}}" class="contents">
                  <img src="{{object.author.avatar|default:avatar}}" />
                </a>
              </div>
            </div>
            <div>
              <div>
                <strong
                  >By
                  <a
                    href="{{object.author.get_absolute_url}}"
                    class="link link-hover"
                    >{{ object.author.username }}</a
                  ></strong
                >
              </div>
              {% load humanize %}
              <time datetime="{{object.created_at|date:'c'}}"
                >{{object.created_at|naturaltime}}</time
              >
              in
              <a
                class="link link-hover"
                href="{{object.subtopic.get_absolute_url}}"
                >{{object.subtopic.name}}</a
              >
            </div>
          </div>
        </div>
      </section>
      {% for post in object_list %}

      <div class="card bg-base-100" id="post-{{post.pk}}">
        <div class="card-body">{% include 'post.html' with post=post %}</div>
      </div>
      {% endfor %} {% if paginator.num_pages > 1 %}

      <div class="justify-center flex">{% include 'pagination.html' %}</div>

      {% endif %} {% if form.content.value %}
      <div id="preview" class="card bg-neutral text-neutral-content">
        <div class="card-body">{% include 'post.html' with post=preview %}</div>
      </div>
      {% endif %}

      <div class="card card-compact bg-base-100">
        <div class="card-body">
          {% if object.is_locked %}
          <div class="flex flex-col text-error items-center">
            <div class="card-title"> This thread is now closed to further replies.</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
                />
              </svg>
           
       
          </div>
          {% elif user.is_authenticated %}

          <form action="#leave-a-comment" id="leave-a-comment" method="POST">
            {% csrf_token %} {{form.as_div}}

            <div>
              <div class="flex gap-4 justify-end">
                <button type="submit" formmethod="GET" class="btn btn-ghost">
                  preview
                </button>
                <button type="submit" class="btn btn-wide btn-primary">
                  submit
                </button>
              </div>
            </div>
          </form>
          {% else %}

          <div class="text-center grid prose max-w-none">
            <div class="">
              <h2>Create an account or sign in to comment</h2>
              <p>You need to be a member in order to leave a comment</p>
            </div>
            <div class="flex justify-evenly">
              <div class="">
                <h2>Create an account</h2>
                <p>Sign up for a new account in our community. It's easy!</p>
                <a href="{%url 'register' %}" class="btn btn-wide"
                  >Register a new account</a
                >
              </div>
              <div class="">
                <h2>Sign in</h2>
                <p>Already have an account? Sign in here.</p>
                <a href="{%url 'login' %}" class="btn btn-wide">Sign in Now</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

      {% if user.is_staff and not object.is_locked %}
      <div class="card card-compact bg-base-100">
        <div class="card-body items-end">
          <form action="{%url 'thread-lock' object.pk %}" method="post">
            {% csrf_token %}
            <button class="btn btn-error btn-wide" type="submit">
              Lock thread
            </button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
