{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block main %}

<main class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left md:px-20">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
    </div>
    <div class="grid gap-4">
    <form method="POST" action="{% url 'login' %}" class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      {% csrf_token %}
      <div class="card-body">
        {{ form.as_div }}
        <div class="form-control mt-6">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </div>
    </form>

    <div class="card border border-base-content/20 card-compact">
      <div class="card-body items-center">
        <span class="label label-text-alt block">
        New around here? <a href="{% url 'signup' %}" class="link link-secondary" >Create an account.</a></span>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}